/* =========================
   FOOTER
   ========================= */
.footer {
  background: #151515;
  color: #ccc;
  text-align: center;
  padding: 60px 20px;
}

/* Footer logo */
.footer-logo {
  color: #fff;
  font-size: 26px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

/* =========================
   INFO LINE
   ========================= */
.footer-info {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.footer-info img {
  border-radius: 80px;
  /* Round icons */
  width: 20px;
  height: 20px;
}

/* Social icons inside footer */
.footer-social img {
  border-radius: 80px;
  width: 20px;
  height: 20px;
}

.footer-info span {
  display: flex;
  align-items: center;
  gap: 8px;
  /* Space between icon and text */
}

/* =========================
   DIVIDER
   ========================= */
.footer-divider {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  /* Subtle divider */
  margin: 40px 0;
}

/* =========================
   SOCIAL ICONS
   ========================= */

.footer-social {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-social a {
  width: 36px;
  height: 36px;
  border: 1px solid #555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-social a:hover {
  background: #fff;
  color: #262525;
}

/* =========================
   COPYRIGHT TEXT
   ========================= */
.copyright {
  font-size: 13px;
  color: #777;
}

/* =========================
   RESPONSIVE FOOTER (FLEX ONLY)
   ========================= */

/* Tablet */
@media (max-width: 992px) {
  .footer-top {
    flex-direction: column;
    /* Stack logo and info */
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .footer-info {
    flex-direction: column;
    /* Stack info items vertically */
    gap: 10px;
  }

  .footer-social {
    justify-content: center;
    margin-top: 15px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .footer-bottom {
    flex-direction: column;
    /* Stack copyright & social */
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .footer-social a img {
    width: 25px;
    height: 25px;
    /* Smaller icons on mobile */
  }
}